<div class="auth-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">{{ title }}</h1>
        <p class="text-xs-center">
          <a href=""
             routerLink="/login"
             routerLinkActive="active"
             *ngIf="authType == 'register'">
            Have an account?
          </a>
          <a href=""
             routerLink="/register"
             routerLinkActive="active"
             *ngIf="authType == 'login'">
            Need an account?
          </a>
        </p>

        <form novalidate (ngSubmit)="submitForm()">
          <fieldset [disabled]="isSubmitting">

            <fieldset class="form-group" *ngIf="authType == 'register'">
              <input class="form-control form-control-lg"
                     type="text"
                     placeholder="Username"
                     name="username"
                     #username="ngModel"
                     required
                     minlength="4"
                     [(ngModel)]="credentials.username"/>
              <div class="error" *ngIf="username.errors && (username.dirty || username.touched)">
                <p [hidden]="!username.errors.required">
                  Name is required
                </p>
                <p [hidden]="!username.errors.minlength">
                  Name must be at least 4 characters long.
                </p>
              </div>
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control form-control-lg"
                     type="email"
                     placeholder="Email"
                     name="email"
                     [(ngModel)]="credentials.email" />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control form-control-lg"
                     type="password"
                     placeholder="Password"
                     name="password"
                     [(ngModel)]="credentials.password"/>
            </fieldset>

            <button class="btn btn-lg btn-primary pull-xs-right"
                    type="submit">
              {{title}}
            </button>

          </fieldset>
        </form>
      </div>

    </div>
  </div>
</div>
